---
name: reset_password
resource: User
resource_owner: anyone
redirect_to: /sign-in
flash_notice: Your password has been updated. You can now log in.
configuration:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
  password_confirmation:
    property_options:
      virtual: true
authorization_policies:
  - token_is_valid
---
{% form %}
  <input name="token" value="{{ params.token }}" type="hidden">
  <input name="email" value="{{ form.email }}" type="hidden">

  <label for="password">Password</label>
  <input name="{{ form_builder.fields.password.name }}" id="password" type="password">

  <label for="password_confirmation">Password confirmation</label>
  <input name="{{ form_builder.fields.password_confirmation.name }}" id="password_confirmation" type="password">
  {% if form_builder.errors.password_confirmation %}
    <p>{{ form_builder.errors.password_confirmation }}</p>
  {% endif %}

  <button>Reset password</button>
{% endform %}