---
slug: add_note
---
{% query_graph 'current_user', result_name: 'g' %}
{% if g.current_user.tester_profile %}

{% include_form "note_form", resource_type: "note" %}

{%- query_graph "note", result_name: "recent", per_page: 10 -%}

<div class="container">
  <h2>Test Notes</h2>
  <table class="table">
  {% for note in recent.customizations.results %}
    <thead class="thead-dark">
      <tr>
        <th>id</th>
        <th>Note</th>
        <th>Created at</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ note.id }}</td>
        <td>{{ note.content }}</td>
        <td>{{ note.created_at }}</td>
        <td><a href="/details/{{note.id}}" class="btn btn-link">Details</a></td>
        <td><a href="/edit/{{note.id}}" class="btn btn-link">Edit</a></td>
        <td>{% include_form "remove_note", resource_id: note.id, resource_type: 'note' %}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}